@model LaundryGoSP.Models.Order_Header

@{
	ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Order</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Details
			</div>
			<div class="panel-body">

				<div class="row">
					<h2>Details</h2>

					<div>
						<h4>Service_Provider</h4>
						<hr />
						<dl class="dl-horizontal">
							<dt>
								@Html.DisplayNameFor(model => model.cust_id)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.cust_id)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.pickup_dri_id)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.pickup_dri_id)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.sp_id)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.sp_id)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.status_id)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.status_id)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.order_weight)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.order_weight)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.order_pickup_add)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.order_pickup_add)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.order_deliver_add)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.order_deliver_add)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.deliver_dri_id)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.deliver_dri_id)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.request_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.request_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.awaiting_pickup_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.awaiting_pickup_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.pickup_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.pickup_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.washing_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.washing_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.washing_completed_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.washing_completed_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.delivering_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.delivering_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.delivered_time)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.delivered_time)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.order_amount)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.order_amount)
							</dd>
							<dt>
								@Html.DisplayNameFor(model => model.payment_method)
							</dt>
							<dd>
								@Html.DisplayFor(model => model.payment_method)
							</dd>
						</dl>
					</div>
					<div>
						<a asp-action="Edit" asp-route-id="@Model.order_id">Edit</a> |
						<a asp-action="Index">Back to List</a>
					</div>
					</div></div></div></div></div>